## ***The Basics - Working with a DataFrame & Creating A Tidy Data Framework***

### *Import DatFrame with the pd.read_csv() Function*

In [ ]:
import pandas as pd

In [ ]:
revenue = pd.read_csv("revenue.csv", index_col = "Date")
# Additional parameters include usecols
revenue

## *Select One Column from a DataFrame*

In [ ]:
revenue["New York"] # This is called a series

## *Select Two or More Columns from a DataFrame*

In [ ]:
revenue[["New York", "Miami"]]

## *Add New Column to DataFrame*

In [ ]:
revenue['Boston'] = "None"
revenue

# You can also add a new column from existing columns*

revenue['Total'] = revenue['New York'] + revenue['Los Angeles'] + revenue['Miami']
revenue

## *Removing a column from the DataFrame*

In [ ]:
revenue = revenue.drop('Boston', axis=1)
revenue

## *Head and Tail*

In [ ]:
# Top 5
revenue.head()

# Bottom 10
revenue.tail(10)

## *Sorting columns Using "Sort By" method*

In [ ]:
# Read in a new dataframe

nba = pd.read_csv("nba.csv")
nba

In [ ]:
# Sort values by specific column

nba.sort_values(by = "Name") # default is least to greatest, a to z
nba.sort_values(by = "Name", ascending = False)

nba.sort_values("Salary")
nba.sort_values("Salary", na_position = "last") #NaNs are last
nba.sort_values("Salary", na_position = "first") # NANs are first
nba.sort_values("Salary", na_position = "first", ascending = False).head(15)

## *Sort a DataFrame with the sort_values (Multiple)*

In [ ]:
# Sorting multiple columns involves using lists

nba.sort_values(by = ["Team", "Name"], ascending = True)
nba.sort_values(by = ["Team", "Name"], ascending = False)

nba.sort_values(by = ["Team", "Name"], ascending = [True, False]) # First column is ascending, second is not

nba.sort_values(["Position", "Salary"])
nba.sort_values(["Position", "Salary"], ascending = True)
nba.sort_values(["Position", "Salary"], ascending = [False, False])