# <center>***Merging Overview***<center>

## <center>4 Types of Merges<center>

<div align="center">
    <img src="SQLJoins.jpeg" width="600">
</div>

### The type of data merge requires an understanding of what you are looking for

In [3]:
import pandas as pd

In [4]:
regularSeasonData = pd.read_csv("3YearRegularSeasonData.csv")
playoffData = pd.read_csv("3YearPlayoffData.csv")

In [ ]:
print(regularSeasonData)
print(playoffData)

# **1. Left Join (Most Common Join)**

### Think: “Keep everything I care about in the left table, and add whatever matches from the right table.”

<div align="center">
    <img src="LeftJoin.png" width="300">
</div>

In [6]:
merged_df = pd.merge(regularSeasonData, playoffData, on='Team', how='left')
merged_df

       Team  Wins  Points For  Playoff Wins
0    Chiefs    33        1308           3.0
1     Bills    30         960           NaN
2  Patroits    27        1113           NaN
3      Jets    12         750           NaN

# **2. Right Join (Inverse of Left Join)**

### Think: “Keep everything I care about in the right table, and add whatever matches from the left table.”

<div align="center">
    <img src="RightJoin.png" width="300">
</div>

In [8]:
merged_df = pd.merge(regularSeasonData, playoffData, on='Team', how='right')
merged_df

       Team  Wins  Points For  Playoff Wins
0    Chiefs  33.0      1308.0             3
1  Dolphins   NaN         NaN             2
2    Ravens   NaN         NaN             1

# **3. Inner Join**

### Think: “Keep only the rows that exist in both tables; throw away everything else.”

<div align="center">
    <img src="InnerJoin.png" width="300">
</div>

In [9]:
merged_df = pd.merge(regularSeasonData, playoffData, on='Team', how='inner')
merged_df

     Team  Wins  Points For  Playoff Wins
0  Chiefs    33        1308             3

# **4. Outer Join (Also known as Full Join)**

### Think: “Keep everything from both tables; if there’s no match, leave a gap (NULL).”

<div align="center">
    <img src="OuterJoin.png" width="300">
</div>

In [10]:
merged_df = pd.merge(regularSeasonData, playoffData, on='Team', how='outer')
merged_df

       Team  Wins  Points For  Playoff Wins
0     Bills  30.0       960.0           NaN
1    Chiefs  33.0      1308.0           3.0
2  Dolphins   NaN         NaN           2.0
3      Jets  12.0       750.0           NaN
4  Patroits  27.0      1113.0           NaN
5    Ravens   NaN         NaN           1.0